**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

/.idea/caches
/.idea/gradle.xml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
